/* reset margin, padding */
body {
    margin: 0!important;
    padding: 0!important;
}
.banner{
    height: 600px;
    background: url('./banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}